@import './variables';
.containter-character-cell{
    width: 21.875rem;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.character-cell{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding:0px;
    margin-left: 16px;
}